flask==3.0.3
requests==2.32.3

opentelemetry-api==1.26.0
opentelemetry-sdk==1.26.0

opentelemetry-instrumentation-flask==0.47b0
opentelemetry-instrumentation-requests==0.47b0


- name: Update helm values
  run: |
    sed -i "s/\(tag: \)\".*\"/\1\"${{ env.IMAGE_TAG }}\"/" charts/service1/values.yaml
    cat charts/service1/values.yaml
