apiVersion: v1
kind: Service
metadata:
  name: service2
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }} # Valores a serem substituidos no values
  selector:
    app: service2
