name: "Import DB Subnet Group do RDS"

on:
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: read

jobs:
  import-db-subnet-group:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.3
          terraform_wrapper: false

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::749000351410:role/github-carina-devops-pipe"
          aws-region: "us-east-1"

      - name: Terraform Init (state do RDS)
        run: |
          cd rds
          terraform init

      - name: Import DB Subnet Group para o state do RDS
        run: |
          cd rds
          terraform import aws_db_subnet_group.this ppeks-rds-subnet-group


